// Paddel Buch colors

// Base Colours
$swisscanoe-blue: #1b1e43; //Space Cadet Blue rgb(27, 30, 67)
$secondary-blue: #606589; //Dark Blue Gray: rgb(96, 101, 137)
$water-blue: #3cc4f6; //Vivid Sky Blue: rgb(60, 196, 246)

// Primary Data Visualisation Colours
$warning-yellow: #ffb200; //Honey Yellow: rgb(255, 178, 0)
$danger-red: #c40200; //International Orange: rgb(196, 2, 0)
$startringspots-green: #07753f; //Dartmouth Green: rgb(7, 117, 63)
$othersports-green: #839420; //Olive Drab 3: rgb(131, 148, 32)
$routes-purple: #4c0561; //Blue Violet Purple: rgb(76, 5, 97)

// Secondary Data Visualisation Colours
$purple-1: #69599b; //Royal Purple: rgb(105, 89, 155)
$purple-2: #cb3cf6; //Phlox Purple: rgb(142, 32, 175)
$green-1: #38676d; //Ming: rgb(56, 103, 109)
$pink-1: #e693be; //Kobu: rgb(230, 147, 190)