@import "settings/__settings";
@import "util/__util";
@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-default;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 0;
}

@media screen and (min-width: 992px) {
  .map {
    height: calc(100vh - $menu-height);
  }

  .clipboard-cell {
    padding-left: 2em;
  }
}
@media screen and (max-width: 992px) {
  .map {
    height: 60vh;
  }

  .clipboard-cell {
    padding-left: 3em;
  }
}

#map {
  padding: 0;
}

.info-pane {
  padding-top: 2em;
  margin-right: 1em;
  margin-left: 1em;
}

h1 { 
  font-family: $font-heading;
  font-size: 1.8em;
  color: $swisscanoe-blue;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
}

h2 {
  font-family: $font-heading;
  font-size: 1.5em;
  color: $swisscanoe-blue;
  padding-top: 0.8em;
}

h3 {
  font-family: $font-heading;
  font-size: 1.3em;
  color: $swisscanoe-blue;
  padding-top: 0.4em;
}

.dropdown-divider {
  background-color: $white;
}

.nav-item {
  padding-left: 0.5em;
}

.leaflet-popup-content-wrapper {
  border-radius: 0px !important;
  color: $white !important;
  background-color: $swisscanoe-blue !important;
  font-family: $font-default;
}
.leaflet-popup-content-wrapper a, .leaflet-popup a.leaflet-popup-close-button {
  color: $white !important;
}

.leaflet-popup-tip {
  background-color: $swisscanoe-blue !important;
}

.leaflet-container {
  font-family: $font-default !important;
}

.clipboard-btn {
  border: 0;
  background-color: $secondary-blue;
  color: white;
}

.clipboard-btn:hover {
  background-color: $swisscanoe-blue;
}

.clipboard-btn:active {
  background-color: $startringspots-green;
}